* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid firebrick; */
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-flow: column;
    /* background-color: blanchedalmond; */
}

.container {
    width: 100%;
    /* max-width: 1200px; */
    display: flex;
    flex-flow: column;
    align-items: center;
}

.section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: center;
}


/* section 1 */


.header{
    padding: 10px 10% 50px 10%;
    background-color: #1f2937;
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
}
.logo-container {
    width: 50%;
    display: flex;
    align-items: start;
}
.logo-container #logo {
    width: 20%;
    border-radius: 100%;
}

.link-container {
    display: flex;
    justify-content: end;
    width: 50%;
    justify-content: space-between;
}
.link-container a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.text-content{
    width: 50%;
    color: aliceblue;
}
.text-content h2 {
    font-size: 48px;
    color: #f9faf8;
}
.text-content p {
    font-size: 18px;
    color: #e5e7eb;
}
.button{
    width: 25%;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    border: 0;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button p {
    font-size: 18px;
    color: #e5e7eb;
    border: 0px;
}

.header #header-image {
    margin: 0 auto;
    width: 40%;
    border-radius: 15px;
}


/* section 2 */


.information {
    width: 100%;
    padding: 10px 10% 50px 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.information-header {
    margin: 30px;
    display: flex;
    flex-flow: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.information-header h2 {
    color: #1f2937;
    font-size: 36px;
}

.images {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}
.image-container {
    width: 20%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #1f2937;
    text-align: center;
}

.image-container img {
    width: 100%;
    border-radius: 7px;
}
.image-container span {
    margin-top: 5px;
}


/* section 3 */


.quote {
    width: 100%;
    padding: 10px 10% 50px 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quote-container {
    width: 60%;
    padding: 70px 50px 70px 50px;
    display: flex;
    flex-flow: row wrap;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quote-author {
    display: flex;
    width: 100%;
    justify-content: end;
    font-size: 24px;
    font-style: bold;
    font-weight: 500;
}


/* section 4 */

.call-to-action {
    width: 100%;
    padding: 70px 200px 70px 140px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.call-to-action-container {
    width: 90%;
    padding: 20px 70px 20px 70px;
    border-radius: 5px;
    background-color: #3882f6;
    color:#f9faf8;
    display: flex;
    flex-flow: row wrap;
}

.call-to-action-text-container {
    width: 85%;
    display: flex;
    flex-flow: row wrap;
}

.call-to-action-text-container span {
    width: 100%;
}

.call-to-action-button-container {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-to-action-button-container .button {
    width: 100%;
    border: 1px solid #e5e7eb;
}


/* section 5 */


footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
}


/* hovers */


.button:hover{
    cursor: pointer;
}